* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(151, 96, 202)
}

header > h1 {
    color:  #851709;
    padding: 20px;
    text-align: center;
    font-family: Asap, sans-serif;
}

.comchoice{
    background-color: lightgrey;
    position: center;
    top: 50%;
    left: 50%;
    margin-top: 50px;
    margin-left: 555px;
    height: 125px;
    width: 320px;
    padding: 10px;
    border-radius: 15px;
    border: 15px solid rgb(15, 214, 91);
    margin: 25;
    font-size: 25px;
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: Asap, comic-sans;
}

.buttons{
    margin-top: 100px;
    text-align: center;
}

.button{
    background-color: rgb(97, 143, 241);
    border: 4px solid white;
    border-radius: 12px;
    margin: 0 20px;
    padding: 10px;
    display: inline-block;
}

.button:hover {
    cursor: pointer;
    background: rgb(15, 214, 91);
}


