* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: blueviolet
}

header > h1 {
    color:  #29bb9b;
    padding: 50px;
    text-align: center;
    font-family: Asap, sans-serif;
}

.comchoice{
    font-size: 25px;
    color:white;
    text-align: center;
    font-weight: bold;
    font-family: Asap, sans-serif;
}

.buttons{
    margin-top: 50px;
    text-align: center;
}

.button{
    border: 4px solid white;
    border-radius: 12px;
    margin: 0 20px;
    padding: 10px;
    display: inline-block;
}

.button:hover {
    cursor: pointer;
    background: rgb(122, 204, 160);
}


